<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopSQL">
   <select id="getPriceIndex" parameterType="java.util.Map" resultType="priceIndex">
      <![CDATA[
      SELECT product_id, logtime, avg(price) AS price
      FROM priceConfirmed
      WHERE product_id = #{product_id}
         AND logtime < #{today}
         AND logtime >= DATE_SUB(#{today}, INTERVAL 7 DAY)
      GROUP BY logtime
      ]]>
   </select>
   
   <select id="getProductDTO" parameterType="int" resultType="productDTO">
      SELECT product.pid AS pid, product_name_kor, product_name_eng, product_id,
               category_id, gender_id, brand.brand_name AS brand_name,
               released_price, created_at, product_likes, product_bookmark,
               GROUP_CONCAT(product_img.img_file) AS img_file
      FROM product
         INNER JOIN product_img ON product.pid = product_img.pid
         INNER JOIN brand ON product.brand_id = brand.brand_id
      WHERE product.pid = #{pid}
      GROUP BY product.pid;
   </select>
   
   <select id="getProductList" parameterType="java.util.Map" resultType="productDTO">
      SELECT 
      product.*, brand.brand_name, product_img.img_file, category.category_name_eng
        FROM product 
        LEFT JOIN brand
        ON 
        product.brand_id = brand.brand_id
        LEFT JOIN product_img
        ON 
        product.pid = product_img.pid
        LEFT JOIN category
        ON product.category_id = category.category_id
        WHERE product_img.img_file LIKE '%-1%'
        order by product.pid asc limit #{startNum}, #{endNum};
   </select>
	
	<select id="getBiddingPriceList" parameterType="java.util.Map" resultType="biddingDTO">
		select product_size, pid, bidding_id, MIN(bidding_price) AS bidding_price
		from biddings
		where pid=#{pid} and status="입찰중"
		GROUP BY product_size 
		ORDER BY product_size ASC;
	</select>
	
	<select id="getProductInformation" parameterType="java.util.Map" resultType="biddingDTO">
		select product_size, MIN(bidding_price) AS bidding_price, pid
		from biddings
		join product using(pid)
		where product_size=#{size} AND  status="입찰중" and pid=#{pid}
		GROUP BY product_size 
		ORDER BY product_size ASC;
	</select>
</mapper>
