<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageSQL">

	<!-- 주소 업데이트 -->
	<update id="add_address" parameterType="java.util.Map">
		update members set address = #{address} where email=#{email}
	</update>
	
	<select id="show_address" parameterType="string" resultType="myPage.bean.MyPageAddressDTO">
		select name, tel, address from members where email=#{email}
	</select>

	<update id="delete_address" parameterType="string">
		update members set address = null where email=#{email} 
	</update>
</mapper>