<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageSQL">

<select id="getBuying" parameterType="string" resultType="myPage.bean.MyPageBuyingDTO">
	    select image_url, brand_name, product_size_id, to_date(biddings.created_at, 'YYYY-MM-DD'), status.name 
        from wishlists join products using (product_id)
        join product_sizes using (product_id)
        join brands using (brand_id)
        join biddings on (productSizeCode = product_size_id)
        join bidding_positions on (bidding_position_id = bidding_positions.id)
        join status on (status_id = status.id)
        where wishlists.member_id = #{member_id}
        and bidding_positions.position = '구매자' <!-- 임의  입찰포지션-->
</select>
	
</mapper>