<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageSQL">

	<!-- 프로필 삭제 -->
	<update id="add_address" parameterType="java.util.Map">
		update members set address = #{address} where email=#{email}
	</update>

</mapper>