<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageSQL">
	<update id="add_account" parameterType="java.util.Map">
		update account join members using (id) set
		account_name = #{account_name},
		account_num = #{account_num},
		account_holder = #{account_holder} where members.email = #{email}		
	</update>

</mapper>
