<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="styleSQL">
	<resultMap type="style.bean.StyleDTO" id="styleMap">
		<id column="seq" property="seq" />
		<result column="member_id" property="member_id" />
		<result column="style_image" property="style_image" />
		<result column="content" property="content" />
		<result column="product_id" property="product_id" />
		<result column="like_code" property="like_code" />
		<result column="countcmt" property="countcmt" />
		<result column="created_at" property="created_at" />
		<association javaType="member.bean.MemberDTO" property="memberDTO">
			<id column="id" property="id"/>
			<result column="nick" property="nick"/>
			<result column="email" property="email"/>
			<result column="profile_img" property="profile_img"/>
		</association>
	</resultMap>
	
	<resultMap type="style.bean.ReplyDTO" id="replyMap">
		<id column="style_seq" property="style_seq" />
		<result column="pseq" property="pseq" />
		<result column="cmt_id" property="cmt_id" />
		<result column="comment_reply" property="comment_reply" />
		<result column="CREATED_AT" property="created_at" />
		<association javaType="member.bean.MemberDTO" property="memberDTO">
			<id column="ID" property="id"/>
			<result column="nick" property="nick"/>
			<result column="email" property="email"/>
			<result column="profile_img" property="profile_img"/>
		</association>
	</resultMap>
	
	<!-- style write 등록  -->
	<insert id="styleWriteForm" parameterType="style">
		insert into styles (member_id, style_image, content, product_id, like_code, countcmt, created_at)
		select m.id
			, #{style_image}
			, #{content}
			, 1111
			, 0
			, 0
			, NOW()
		from members m
		where email = #{member_id};
	</insert>
	
	<!-- List 글 받아오기 -->
	<select id="getStyleList" parameterType="java.util.Map" resultMap="styleMap">
		select s.seq
  			  , s.member_id
  			  , s.style_image
  			  , s.content
  			  , s.product_id
  			  , s.like_code
  			  , s.countcmt
  			  , s.created_at
  			  , m.nick
  			  , m.email
  			  , m.profile_img
		from styles s
  		LEFT JOIN members m
		ON s.member_id = m.id
		order by s.seq desc
		limit #{startNum}, #{endNum}
	</select>
	
	<!-- Details 글 받아오기 -->
	<select id="getStyleDetails" parameterType="int" resultMap="styleMap">
		select s.seq
	  			  , s.member_id
	  			  , s.style_image
	  			  , s.content
	  			  , s.product_id
	  			  , s.like_code
	  			  , s.countcmt
	  			  , s.created_at
	  			  , m.nick
	  			  , m.email
	  			  , m.profile_img
			from styles s
	  			  , members m
			where s.member_id = m.id
			and s.seq = #{seq}
	</select>
	
	<delete id="styleDelete" parameterType="int">
		delete from styles where seq = #{seq}
	</delete>
	
	<update id="styleUpdate" parameterType="style">
		update styles set style_image=#{style_image}, product_id=#{product_id}, content=#{content} where seq=#{seq}
	</update>
	
	<insert id="styleReplyWrite" parameterType="java.util.Map">				
		insert into comment (pseq, cmt_id, comment_reply, created_at)
		select #{pseq}
			, m.id
			, #{comment_reply}
			, NOW()
		from members m
		where email = #{email};
	</insert>
	
	<!-- 댓글 받아오기 -->
	<select id="getStyleReply" parameterType="int" resultMap="replyMap">
	  		select c.pseq
	  			  , c.style_seq
	  			  , c.cmt_id
	  			  , c.comment_reply
	  			  , c.CREATED_AT
	  			  , m.nick
	  			  , m.email
	  			  , m.profile_img
			from comment c
	  		LEFT JOIN members m
			ON c.cmt_id = m.ID
			and c.pseq = #{pseq}
			order by style_seq desc
	</select>
	
	<!-- 댓글 총개수 -->
	<select id="getReplyTotal" parameterType="int" resultType="int">
		select count(*) from comment where pseq=#{pseq}
	</select>
	
	<select id="getNowReply" parameterType="java.util.Map" resultMap="replyMap">
			select c.pseq
	  			  , c.style_seq
	  			  , c.cmt_id
	  			  , c.comment_reply
	  			  , c.CREATED_AT
	  			  , m.nick
	  			  , m.email
	  			  , m.profile_img
			from comment c
	  		LEFT JOIN members m
			ON c.cmt_id = m.ID
			and c.pseq = #{pseq}
			order by style_seq desc
			limit 1
	</select>
	
	<delete id="styleReplyDelete" parameterType="int">
		delete from comment where style_seq = #{style_seq}
	</delete>

</mapper>
