/* 	* 필요시에 자유롭게 css 추가.
	  * 각 페이지에만 종속되는 속성만 추가할 것.
	  * 추가시 해당 JSP의 파일명을 주석으로 남길 것.
    	* 테일윈드로 적용하기 어려운 스타일만 추가할 것.
*/

/* External web fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/* index.jsp */
#header, #footerTop {
  letter-spacing: -.06px;
}

/* calendar style customizing*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default {
  background: none !important;
  border: none !important;
}
body, button, input, select, table, textarea {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,AppleSDGothicNeo-Regular,NanumBarunGothic,NanumGothic,나눔고딕,Segoe UI,Helveica,Arial,Malgun Gothic,Dotum,sans-serif;
} 
.searchBox { 
  width: 300px;
}
.inpType {
  padding-left: 0 !important; 
  width: 95% !important;
  border: none !important;
}
.inpType:focus {
  outline: none !important;
}
#ui-datepicker-div {
  top: 240px !important;
  overflow: hidden;
  margin-top: 0!important;
  width: 256px;
  height: 280px;
  border: 1px solid #d3d3d3;
  border-radius: 0;
}
.ui-state-default {
  font-size: 13px;
  text-align: center;
}
.ui-state-default {
  padding: 0.4em !important;
  padding-right: 0.8em !important 
}
.ui-state-hover {
  background: none !important;
  border: none !important;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  font-size: 16px;
  margin: 0;
}

.removeEvent {
	display: none;
}
